<nav>
    <div class="conteiner">
        <div class="nav">
            <div id="logo"> <a href=""><img src="img/logo.png" alt=""></a></div>
            <ul class="adantiv">
                <li><a href="#" data-ul ='.nav ul.menu'>&#xf0c9;</a></li>
                <li><a href="#" data-ul ='.nav ul.nactroiki'>&#xf0ad;</a></li>
                <li><a href="#" data-ul ='.nav form'>&#xf002;</a></li>
                <li><a href="#"data-ul ='.nav form.baluta'>&#xf0d6;</a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Каталог игр</a></li>
                <li><a href="#">Поддержка</a></li>
                <li><a href="#">Отзывы</a></li>
            </ul>
            <ul class="nactroiki">
                <li><a href="#" class="click" data-ul ='.nav form'>&#xf002;</a></li>
                <li><a href="#" class="click" data-ul ='.nav form.baluta'>&#xf0d6;</a></li>
                <li><a href="#">&#xf028;</a></li>
                <li><a href="#">&#xf004;</a></li>
                <li><a href="#">&#xf07a;</a></li>
            </ul>
            <ul class="bxod">
                <li>
                    <a href="/registration">&#xf090; <span>Воити</span></a>
                </li>
            </ul>
            <form action="" class="poick">
                <label for="">Поиск<input type="text"></label>
            </form>
            <form class="baluta">
                <ul>
                    <li><a href="#">&#xf158;</a></li>
                    <li><a href="#">&#xf153;</a></li>
                    <li><a href="#">&#xf155;</a></li>
                </ul>
            </form>
        </div>
    </div>
</nav>